# To support cuda 11.6
--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.12.1
torchvision==0.13.1
stable-baselines3==1.6.1
sacred==0.8.2
numpy==1.21.2
gym==0.21
tqdm==4.62.2
wandb==0.12.1
# seals==0.1.5
# Temporarily use this commit in seals for updates to AutoResetWrapper. Switch back to official version once seals releases a new version.
git+https://github.com/HumanCompatibleAI/seals.git@de298732cda150b18af699e6816fcf42f2fc674f
torch-lucent==0.1.8
jupyter==1.0.0
git+https://github.com/ejnnr/mazelab.git@3042551
git+https://github.com/HumanCompatibleAI/imitation.git@40a2a559706e50bf60d7cc388a2c36dd0d4e8619
# This version includes some fixes that are not in the newest pip version
git+https://github.com/openai/gym3.git@4c38246
# This commit on the branch final-obs of my (PavelCz) fork of procgen includes
# changes that add the final observation of an episode to the info dict. This
# final episode is useful when training reward functions and is not available by
# default in gym3, since gym3 immediately resets the environment after the
# episode ends.
# procgen @ git+https://github.com/PavelCz/procgenAISC.git@54de6b7553c55f12f53c346730681c4e4c9abd40
procgen @ git+https://github.com/dfilan/procgen-expose-state.git@e533b21ba50694e681f05ee8319cceaa3abc4ff7
# Revert to this older version because some library won't work otherwise
protobuf==3.19
git+https://github.com/dfilan/vegans.git@76a3c45
Pillow==9.2.0
